{% extends easyadmin_config('design.templates.layout') %}

{% block page_title %}{{ easyadmin_config('site_name')|striptags }} | {% block security_page_name %} {% endblock %}{% endblock %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}

    {% block security_post_wrapper %} {% endblock %}

    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}"
                       title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                        {{ easyadmin_config('site_name')|raw }}
                    </a>
                {% endblock header_logo %}
            </div>
        </header>
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="w-100 alert alert-{{ label }}">
                    <button type="button" class="alert-close" onclick="this.closest('div').style.display='none'">×
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if error|default(false) %}
            <div class="w-100 alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <section class="content">
            <form method="post" {% block security_action %} {% endblock %} >
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}"
                       value="{{ target_path|default(path('easyadmin')) }}"/>

                {% block security_form_fields %} {% endblock %}
            </form>
        </section>
    </div>
    {% set errors = errors is defined ? errors : [] %}

    {% for error in errors %}
        <script>
            let errorField = $('#{{ error.propertyPath }}');
            errorField.parent().parent().append('<div style="display:block" class="invalid-feedback" role="alert">{{ error.message }}</div>');
            errorField.addClass('is-invalid');
            errorField.css('border', '1px solid red');
        </script>
    {% endfor %}
{% endblock %}

