{% trans_default_domain 'security' %}

{% extends 'security/base.html.twig' %}

{% block security_page_name %}{% trans %}Reset password{% endtrans %}{% endblock %}

{% block security_form_fields %}
    <div class="form-group field-text">
        <label for="email" class="sr-only form-control-label required">Email</label>
        <div class="form-widget form-widget-with-icon">
            <i class="fa fa-fw fa-envelope"></i>
            <input type="text" id="email" name="email" class="form-control" placeholder="{% trans %}Email{% endtrans %}"
                   value="" required="required" autofocus>
        </div>
    </div>
    <div class="form-group field-button">
        <button type="submit" class="btn btn-primary btn-lg btn-block"
                onclick="this.form.submit(); this.disabled=true;">{% trans %}Reset password{% endtrans %}</button>
    </div>
    <div>
        <a href="{{ path('app_login') }}">{% trans %}Login{% endtrans %}</a>
    </div>
{% endblock %}
