{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
    {% set _email_label = email_label is defined ? email_label|trans : 'Email'|trans({}, 'security') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'Password'|trans({}, 'security') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'Sign in'|trans({}, 'security') %}

    <div class="login-wrapper">
        <header class="main-header mb-4">
            <div id="header-logo">
                {% block header_logo %}
                    <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}"
                       title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
                        {{ easyadmin_config('site_name')|raw }}
                    </a>
                {% endblock header_logo %}
            </div>
        </header>
        {% for label, messages in app.flashes() %}
            {% for message in messages %}
                <div class="w-100 alert alert-{{ label }}">
                    <button type="button" class="alert-close" onclick="this.closest('div').style.display='none'">×
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% if error|default(false) %}
            <div class="w-100 alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <section class="content">
            <form method="post">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}"
                       value="{{ target_path|default(path('easyadmin')) }}"/>

                <div class="form-group field-text">
                    <label for="email" class="sr-only form-control-label required">{{ _email_label }}</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-user"></i>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email"
                               value="" required autofocus>
                    </div>
                </div>

                <div class="form-group field-password">
                    <label for="password" class="sr-only form-control-label required">{{ _password_label }}</label>
                    <div class="form-widget form-widget-with-icon">
                        <i class="fa fa-fw fa-lock"></i>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                               required>
                    </div>
                </div>
                <div class="form-group field-button">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                            onclick="this.form.submit(); this.disabled=true;">{{ _sign_in_label }}</button>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                <div>
                    <a href="{{ path('app_forgotten_password') }}">Forgotten
                        password</a>
                </div>
            </form>
        </section>
    </div>
    {% set errors = errors is defined ? errors : [] %}

    {% for error in errors %}
        <script>
            let errorField = $('#{{ error.propertyPath }}');
            errorField.parent().parent().append('<div style="display:block" class="invalid-feedback" role="alert">{{ error.message }}</div>');
            errorField.addClass('is-invalid');
            errorField.css('border', '1px solid red');
        </script>
    {% endfor %}
{% endblock %}

